/* Home page */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
.Container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
#Search{
    height: 30px;
    width: 200px;
}
.fa-magnifying-glass{
    color: white;
}
.fa-bars{
    color: white;
    display: none;
    margin-top: 7px;
    float: right;
}
.fa-xmark{
    color: white;
    display: none;
}
/* accordionbox */
.accordionbox{
    /* display: flex; */
    display: none;
 }
 .accordion {
   position: fixed;
   top: 70px;
    width: 100%;
    background-color: rgb(255, 20, 75);
 }
  .contentBx {
    position: relative;
    /* margin: 20px; */
    width: 100%;
 }
 .label {
    position: relative;
    background-color:  rgb(255, 20, 75);
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    cursor: pointer;
    height: 35px;
 }
 .label a{
    text-decoration: none;
    color: white;
 }
 .label::before {
    content: '+';
    position: absolute;
    /* top: 20%; */
    right: 20px;
 }
 .content a{
   color: white;
   text-decoration: none;
   padding-left: 30px;
 }
  .contentBx.active .label::before {
    content: '-';
 }
 .content {
    position: relative;
    padding: 10px 20px;
    /* overflow: hidden; */
    /* overflow-y: auto; */
    display: none;
 }
 .contentBx.active .content {
    display: block;
    height: auto;
    padding: 10px;
    transition-delay: 5s;
 }

.navbar{
    position: fixed;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color:  rgb(255, 20, 75);
    padding-left: 40px;
    padding-right: 40px;
    top: 0px;
    z-index: 2;
}
.logo{
    width: 40px;
    cursor: pointer;
    /* border-radius: 50px; */
}
.navbar h2{
    color: #fff;
    padding-left: 10px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.Container .bimg{
    padding-top: 5%;
    background-position: center; 
    height: 30%;
    color: white;
}
.title{
    background-color: rgba(0, 0, 0, 0.6);
    display:inline-block;
    border-radius: 10px;
    padding-left: 15px;
}
.Container .bimg h1{
    text-align: left;
}
 .row{
    display: flex;
    height: 70%;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.col1{
    color: white;
    background-color:  rgba(0, 0, 0, 0.6);
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
}
.img{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 1px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    width: 250px;
    height: 300px;
}
.card2{
    width: 250px;
    height: 300px;
}
.img:hover{
    transform: translateY(-10px);
}

/* Hover start*/
.hover1 {
    display: none;
 }
 .hover1 a{
     display: block;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .courses:hover .hover1 {
     position: absolute;
     width: 150px;
     display: block;
     text-align: center; 
     background-color: rgb(255, 20, 75);
     border-radius: 12px;
 }
 .hover1 a:hover{
     text-decoration-line:underline;
 }
 .hover2 {
     display: none;
 }
 .hover2 a{
     display: block;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .About:hover .hover2 {
     position: absolute;
     width: 150px;
     display: block;
     text-align: center; 
     background-color: rgb(255, 20, 75);
     border-radius: 12px;
 }
 .hover2 a:hover{
     text-decoration-line:underline;
 }
 /* Hover end*/

/* Second Home page */
.Container2 .div1{
    grid-area: D1;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    height: 100%;
}
.Container2 .rate{
    grid-area: R;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    height: 100%;
}
.Container2 .div2{
    grid-area: D2;
    border: 1px solid;
    border-radius: 10px;
    height: 100%;
    padding: 15px;
}
.Container2{
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    display: grid;
    gap: 30px 30px;
    grid-template: "D1 R" auto "D2 D2" auto / 1fr auto;
}
.Container2 .div1 h1{
    color: rgb(255, 20, 75);
}
.Container2 .rate h1{
    color: rgb(255, 20, 75);
}

/* Courses */
.Container3{
    display: inline-block;
    padding-left: 50px; 
    padding: 10px;
}
.Container3 .Foundations{
    width: 300px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid color(srgb red green blue);
    background-color: #fff;
    box-shadow: 5px 10px 5px #888888;
    margin: 30px;
    float: left;
}
.Container3 .Foundations img{
    width: 300px;
    border-radius: 10px;
}
.Container3 .Foundations .LEARN{
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(0, 17, 254);
    color: white;
    padding: 10px;
}
.Container3 .Foundations .LEARN:hover {
    background-color:  rgb(255, 20, 75);
}
.toltip{
    position: relative;
    display: inline-block;
}
.toltip-text{
    border-radius: 10px;
    background-color: white;
    color: black;
    position: absolute;
    left: 50%;
    width: 350px;
    margin-left: 10px;
    display: inline-block;
    visibility: collapse;
    box-shadow: 5px 5px 20px 5px #888888;
    padding: 20px;
    z-index: 10;
}
.toltip:hover .toltip-text{
    visibility: visible;
}
  .toltip-text::after{
        content: " ";
        position: absolute;
        border-width: 17px;
        border-style: solid;
        border-color: transparent  white transparent transparent;
        top: 12%;
        right: 350px;
    }
    .toltip2{
        position: relative;
        display: inline-block;
    }
    .toltip-text2{
        border-radius: 10px;
        background-color: white;
        color: black;
        position: absolute;
        right: 60%;
        width: 350px;
        margin-left: 10px;
        display: inline-block;
        visibility: collapse;
        box-shadow: 5px 5px 20px 5px #888888;
        padding: 20px;
        z-index: 10;
    }
    .toltip2:hover .toltip-text2{
        visibility: visible;
    }
      .toltip-text2::after{
            content: " ";
            position: absolute;
            border-width: 17px;
            border-style: solid;
            border-color: transparent  transparent  transparent white;
            top: 12%;
            left: 350px;
        }

/* footer */
footer{
    width: 100%;
    height: 260px;
    background-position: center;
    background-size: cover;
    background-color: rgb(39, 39, 39);
    margin-top: 30px;
}
footer .logo{
    padding-top: 15px;
    display: flex;
    margin-left: 43%;
}
footer .logo .a i{
    padding: 10px;
}
footer .Letter{
    color: white;
    text-align: center;
    margin: 20px;
}
footer .Letter a{
    color: white;
    text-decoration: none;
}
footer .biglogo img{
    width: 80px;
    cursor: pointer;
    margin-left: 47.5%;
    border-radius: 50px;
}
.copy{
    width: 100%;
    background-color: black;
}
.copy a{
    color: white;
    text-decoration: none;
}
.footer2{
    display: none;
}
@media (max-width: 992px){
    .Container2 {
        display: block;
    }
    .Container2 .div2{
        margin-top: 20px;
        height: 100%;
    }
    .Container2 .rate{
        margin-top: 20px;
    }
    .toltip-text{
        display: none;
    }
    .toltip-text2{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .navbar{
        height: 90px;
    }
    #Search{
        display: none;
    }
    .fa-magnifying-glass{
        display: none;
    }
    .navbar .logo{
        display: none;
    }
    .navbar .Home{
        display: none;
    }
    .navbar .courses{
        display: none;
    }
    .navbar .About{
        display: none;
    }
    .navbar .Loginbar{
        display: none;
    }
    .accordion{
        top: 90px;
    }
}
@media (max-width: 768px){
    .Container2{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    }
    .Container .row{
        width: 35%;
        display: block;
        max-height: 400px;
        overflow-x: scroll;
    }
    .col .img{
        width: 85%;
    }  
    .Container3{
        font-size: 10px;
    }
    .Container3 .Foundations{
        width: 200px;
        height: 225px;
    }
    .Container3 .Foundations img{
        width: 200px;
    }
    .Container3 .Foundations a{
        padding: 10px;
    }
    .navbar h2{
        font-size: 20px;
    }
    .navbar{
        height: 70px;
    }
    .accordion{
        top: 70px;
    }
    
    /* footer */
    footer{
        display: none;
    }
    .footer2{
        display: flex;
        height: 200px;
    }
    .footer2 .a{
        font-size: 50px; color: white;
    }
    .footer2 .Letter{
        display: block;
        text-align: left;
        padding: 30px;
        font-size: 15px;
    }
}